@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Inconsolata:wght@200;300&family=Poppins:ital,wght@0,400;0,500;0,700;1,300;1,500&display=swap');

body{
    /* font-family: 'Croissant One', cursive; */
    font-family: 'Inconsolata', monospace;
    /* font-family: 'Poppins', sans-serif;  */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.head{
    display: flex;
    width: 100%;

    background-color:pink;
}


.header{
    width: 1280px;
    /* background-color:violet; */
    display: flex;
    margin: auto;
    align-items: center;
}
.hero{
    width: 25%;
}
.hero-2{
    width: 25%;
}
